body {
  background-color: rgba(127, 255, 212, 0.315);
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 2rem;
}
h2:after {
  content: "";
  height: 3px;
  border-radius: 50px;
  display: block;
  position: relative;
  top: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  background-color: rgb(16, 121, 86);
}

section {
  margin: 3rem auto;
  text-align: center;
}

h5 {
  background-color: rgba(16, 121, 86, 0.425);
  padding: 2px 5px 3px 5px;
  font-size: 16px;
  width: 80px;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 18px 0;
}
.btn:hover,
.btn:active,
.btn:focus {
  border-color: rgb(16, 121, 86);
}

.job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 4rem;
  margin: 0 auto;
}
.job-details p {
  font-size: 14px;
  text-align: left;
}
.job-details h6 {
  text-align: left;
}
.job-desc {
  display: flex;
  gap: 20px;
}
.job-desc__icon {
  font-size: 1.5rem;
}
.job-desc p {
  margin: auto;
  margin-bottom: 16px;
  text-align: left;
}
